<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @jclinic.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @jclinic.phone %>
</p>

<%= link_to 'Edit', edit_jclinic_path(@jclinic) %> |
<%= link_to 'Back', jclinics_path %>
